.App {
    background:rgb(81, 205, 131);
    height:100vh;
}

.navbar {
    border-bottom:1px solid #d3d3d3;
    width:100%;
    height:50px;
    padding-top:14px;
    padding-left:20px;
}

a.link {
    color:black;
    text-decoration:none;
    margin-right: 50px;
    opacity:.4;
}

a.link.active {
    opacity:1;
}

a > i {
    opacity:1;
}
